body {
    font-family: serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/collage.jpg");
    font-style: italic;
}

.general-container{
    font-family: serif;
    background-color: rgba(0, 0, 0, 0.78);
    margin: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -50px;
}

h1 {
    color: yellow;
    font-size: 50px;
    margin-bottom: 80px;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.8);
}


.form-group {
    margin-bottom: 15px;
}

label.usuario, label.contraseña {
    color: yellow;
    font-size: 30px;
}

input[type="text"], input[type="password"] {
    width: 80%;
    padding: 10px;
    border: 1px solid #373535;
    border-radius: 4px;
    font-size: 16px;
    color: black;
    background-color: #cfcfcf;
}

h3{
    color: yellow;
    text-decoration: underline;
    font-size: 15px;
    margin-top: 50px;
    font-size: 18px;
}

.btn-submit {
    width: 100%;
    padding: 10px;
    background-color: yellow;
    color: #373535;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    font-style: italic;
}

.btn-submit:hover {
    background-color: #ffcc00;
}

.soporte {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: yellow;
    color: black;
    font-size: 15px;
    border-color: black;
    cursor: pointer;
    z-index: 1000;
    border-radius: 4px;
    font-style: italic;
}