body {
    font-family: serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/collage.jpg");
    font-style: italic;
}

.general-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.78);
}


.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -50px;
}

h1 {
    color: yellow;
    font-size: 50px;
    margin-bottom: 80px;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    padding: 20px;
    border-radius: 8px;
    width: 50%; 
    box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.8);
}

label {
    display: block;
    text-align: center; 
    font-size: 30px;
    color: yellow;
}

.pregunta {
    margin-bottom: 15px;
}

input[type="text"], input[type="password"], textarea {
    width: 80%;
    padding: 12px;
    border: 1px solid #373535;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
    background-color: #cfcfcf;
    margin-bottom: 20px;
}
    
textarea {
    width: 80%;
    padding: 10px;
    border: 1px solid #373535;
    border-radius: 4px;
    font-size: 16px;
    color: black;
    background-color: #cfcfcf;
    resize: none;
}

.btn-submit {
    width: 50%;
    padding: 10px;
    background-color: yellow;
    color: #373535;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px; 
    font-style: italic;
}

.btn-submit:hover {
    background-color: #ffcc00;
}